:root.dark {
  --header-bg: #22303c;
  --green-logo: #2aab54;
  --side-nav: #15202b;
  --text: #eaebec;
  --body: #192734;
  --green-tasks: #2abd67;
  --green-hover: #a0e0bb;
  --shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
  inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}

:root.light {
  --header-bg: #f2f3f5;
  --green-logo: #2abd67;
  --side-nav: #fefcfe;
  --text: #494958;
  --body: #ececec;
  --green-tasks: #2abd67;
  --green-hover: #a0e0bb;
  --shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
  inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: var(--body);
  transition: 1s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  padding: 20px 40px;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header .logo-div .logo span {
  color: var(--green-logo);
}

.logo-div img {
  width: 40px;
  height: 40px;
}

header .nav-toggler {
  font-size: 35px;
  cursor: pointer;
  padding: 5px 10px;
}

header .nav-toggler:hover {
  background: rgba(183, 180, 196, 0.4);
}

.tasks-content {
  width: 100vw;
  /* display: grid;
  grid-template-columns: 20vw 80vw; */
  display: flex;
}

.side-nav {
  background: var(--side-nav);
  padding: 20px;
  display: block;
  height: 89.2vh;
  /* position: relative; */
  width: 20vw;
  transform: translateX(0vw);
  transition: 1s;
  overflow-y: auto;
  direction: rtl;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .side-nav {
    scrollbar-width: auto;
    scrollbar-color: #242324 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .side-nav::-webkit-scrollbar {
    width: 10px;
  }

  .side-nav::-webkit-scrollbar-track {
    background: var(--side-nav);
  }

  .side-nav::-webkit-scrollbar-thumb {
    background-color: #242324;
    border-radius: 10px;
    background-color: var(--header-bg);
    /* border: 3px solid #ffffff; */
  }

.side-nav .title {
  font-size: 20px;
  border-bottom: solid white;
  padding-bottom: 5px;
  margin-bottom: 20px;
  direction: ltr;
}

.side-nav-home {
  padding-bottom: 20px;
  direction: ltr;
}

.side-nav-home div, .project-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px 5px;
  background-color: var(--header-bg);
  direction: ltr;
}

.side-nav-home div:nth-child(2){
  border-left: 5px solid var(--green-hover);
}

.side-nav-home div:hover, .project-card:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.side-nav-home img {
  height: 30px;
}

.project-sidebar .project-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card {
  margin-bottom: 20px;
}

.project-card .text {
  display: flex;
  gap: 10px;
}

/* .options-toggler {
  border: solid red;
} */

.options .options-text {
  position: absolute;
  right: 25px;
  background-color: var(--header-bg);
  padding: 10px;
  display: none;
}

.options-text h5 {
  padding-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}

.options-text h5:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.add-project-form {
  margin-bottom: 20px;
  display: none;
  direction: ltr;
}

.add-project-input {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-project-input i {
  font-size: 30px;
}

.add-project-input input {
  width: 80%;
  outline: none;
  background-color: var(--header-bg);
  border: none;
  color: var(--text);
  padding: 10px;
}

.add-btn {
  background: #1f8d4d;
}

.cancel {
  background-color: #be0404;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.form-buttons button {
  padding: 5px 20px;
  cursor: pointer;
  color: var(--text);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}

.add-project-text {
  direction: ltr;
  text-align: center;
}

.add-project-text:hover {
  cursor: pointer;
}

/* Tasks */

.display-tasks {
  width: 100%;
  padding: 2% 5%;
}

.display-tasks .tasks-header {
  background: var(--side-nav);
  padding: 20px;
}
/* Dark mode toggler */

label {
  width: 100px;
  height: 50px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: var(--shadow);
  cursor: pointer;
}

label:after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
header input {
  width: 0;
  height: 0;
  visibility: hidden;
}

header input:checked + label {
  background: #242424;
}
header input:checked + label:after {
  left: 95px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label,
label:after {
  transition: 0.3s;
}
label:active:after {
  width: 10px;
}

input:checked + label {
  background: #242424;
}

label svg {
  position: absolute;
  width: 30px;
  top: 10px;
  z-index: 100;
}
label svg.sun {
  left: 10px;
  fill: #fff;
  transition: 0.3s;
}
label svg.moon {
  left: 60px;
  fill: #7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill: #7e7e7e;
}
input:checked + label svg.moon {
  fill: #fff;
}



/* task form */

.add-task-form-div {
  background-color: var(--header-bg);
  margin-top: 40px;
  display: grid;
  padding: 20px 40px;
  text-align: center;
  display: none;
}

.add-task-form-div h1 {
  margin-bottom: 20px;
}

.add-task-form div {
  display: flex;
}

.add-task-form .regular-inputs {
  justify-content: space-between;
  gap: 5px;
  flex-direction: column;
  
}

.regular-inputs input, textarea, .special-inputs input, select, .add-task-form button {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--side-nav);
  padding: 15px;
  color: var(--text);
}

.add-task-form .special-inputs {
  margin-top: 10px;
  gap: 20px;
}

textarea {
  resize: vertical;
}



.add-task-form button {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}

.add-tasks h4 {
  margin-top: 20px;
  cursor: pointer;
}

.task {
  background-color: var(--side-nav);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-left: 8px solid var(--green-tasks);
}

.task div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.task .name {
  gap: 10px;
}

.task-completion {
  width: 20px;
  height: 20px;
  border: solid red;
  border-radius: 50%;
  cursor: pointer;
}

.extra-options {
  cursor: pointer;
  gap: 20px;
}

.task div button {
  background: var(--header-bg);
  color: var(--text);
  padding: 5px 20px;
  outline: none;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}


dialog {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: var(--side-nav);
  padding: 40px;
  width: 500px;
  color: var(--text);
  border: none;
  flex-direction: column;
}

dialog div:first-child {
  justify-content: space-between;
  font-size: 15px;
}

dialog .real-details {
  display: flex;
  flex-direction: column;
}

.real-details div {
  display: flex;
  justify-content: flex-start !important;
  margin-top: 10px;
  gap: 10px;
  align-items: flex-start;
  font-size: 15px;
  width: 100%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  
}

.close-dialog {
  cursor: pointer;
  font-size: 20px;
}